<!-- {{movies[1].titre}} -->
{% extends "./index.html" %}



{% block content %}
<h3>Look for a movie</h3>
<form action="searchA" method="post">
    <input type="text" name="search" /> 
    <input type="submit" value="Search"/>
</form>

{% for m in result %}
<div>
    <h4>{{m.titre}}</h4>
    <p>
        Pays d'origine:{{m.pays}}<br/>
        Genre:{{m.genre}}<br/>
        Realisateur:{{m.Realisateur}}<br/>
        Sortie:{{m.Sortie}}<br/>
        Durée:{{m.Duree}}<br/>
    </p>
    <hr/>
</div>

{% endfor %}



{% endblock %}
